*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-group{
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    list-style-type: none;
    white-space: nowrap;
    padding:10px 0px;
   
 }
 .App-header1{
    background-color: brown;
    color: white;
 }
 ul li a{
    padding:0px 15px ;
    margin:0px;
 }
 .about_us ,span{
    text-align: center !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

 }
 #message{
   animation: message 4s linear;
   transition: all 9s !important;
   box-shadow:1px 1px 2px 3px lightgray;
  width: 1;

  
 }

 @keyframes message {
   0%{
      opacity:0.1;
     
     
      
   }
   100%{
      opacity:1;
     
      
   }
   
 }
 .footer-widget{
   display: flex;
   justify-content: center;
 }
 .social-links ul{
   list-style-type: none;
 }